 <table align="center">
                <tr>
                        <td><p style="color:lightblue; font-size:15px"><u>Error Report: </u></p>
                                <p align="center" style="color:green; font-size:15px; outline:1px solid red; width:300">
                                <sup style="color:red">*</sup>
	                         <%=@error%>
	                         </p>
	                  </td>
                  </tr>
 </table>  </br>

